body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #72f3c1;
  color: #333;
  text-align: center;
}
  
  
  .navbar {
    background-color: #8ed1b9;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    font-family: Arial, sans-serif;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 2em;
    color: #fff;
  }
  
  .navbar ul {
    
    padding: 0;
    margin-top: 15px;
  }
  
  .navbar li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }



  .subtitulo {
    text-align: center;
    color:rgb(243, 26, 26);
  }
  
  .products.container {
    display:inline-block;
    justify-content: center;
   margin: 5%;
  }
  
  .product {
    text-align: center;
    width: 250px;
    margin: 5%;
  }
  
  img {
    max-width: 100%;
    border-radius: 80px;
    outline: 20px groove rgba(26, 51, 243, 0.907);

  }
  
  .titulo-planta {
    margin-block-start: 30px;
    margin-block-end: 40px;
    font-weight: 100;
    text-align: center;
    color:rgb(13, 255, 0);
  }
  
  .precio {
    margin-top: 20px;
    text-align: center;
    font-family: cursive;
    color:rgb(239, 70, 219);
  }
  
  .btn-2 {
    padding: 10px;
    background-color: #4fcea1;
    color: rgb(12, 12, 11);
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    margin: 30px auto;
    outline-style: dotted;
    text-align:center;

  }


.titulo {
  background-color: #8fea92; 
  color: rgb(0, 0, 0);
  padding: 30px 20px;
  border-radius: 13px;
  margin: 10px;
}

section {
  background-color: #f9f9f9;
  padding: 40px 20px;
  border-radius: 40px;
  max-width: 1000px;
  margin: 40px auto;
}


section h3 {
  font-size: 1.8em;
  margin-bottom: 0px;
  color: #333;
  text-align: center;
}


.texto {
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

.piedepagina {
  background-color: #222;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-weight: normal;
  
}

